<ul>
    <li ng-repeat="drink in ctrl.allWhiskeyDrinks">
        <h1>{{drink.strDrink}}</h1>
    </li>
</ul>
<ul>
    <li ng-repeat="drink in ctrl.allTequilaDrinks">
        <h1>{{drink.strDrink}}</h1>
    </li>
</ul>
<ul>
    <li ng-repeat="drink in ctrl.allRumDrinks">
        <h1>{{drink.strDrink}}</h1>
    </li>
</ul>
<ul>
    <li ng-repeat="drink in ctrl.allGinDrinks">
        <h1>{{drink.strDrink}}</h1>
    </li>
</ul>
<ul>
    <li ng-repeat="drink in ctrl.allVodkaDrinks">
        <h1>{{drink.strDrink}}</h1>
    </li>
</ul>
